{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <aside class="menu" role="complementary">
      {{ page.menu }}
    </aside>

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
